body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    text-align: justify;
    margin-bottom: 100px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    width: fit-content;
    height: min-content;

}

.half-width image {
    width: 50%;
    padding-left: 10%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%x;
    border-radius: 10px;

}

#fullstack-dev {
    border-left: 7px solid blue;
}

#pro-dev {
    border-left: 7px solid tomato;
}

footer p {
    text-align: center;
}